<h3>Listado Experiencia</h3>
<a class="nav-link btn" href="/crud/experiencia">Cargar Nueva Experiencia</a>
<table class="table ma-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Empresa</th>
      <th scope="col">Inicio</th>
      <th scope="col">Fin</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exp of cv.experiencia">
      <td>{{exp.empresa}}</td>
      <td>{{exp.fecha}}</td>
      <td>{{exp.fin}}</td>
      <td>{{exp.descripcion}}</td>
      <td><button type="button" class="btn-warning bi bi-pencil btn-circle" [routerLink]="['/crud/experiencia',exp.id]" ></button>
      <td><button (click)="experienciaBorrar(exp.id)" type="button" class="btn-danger bi bi-trash btn-circle"></button>
    </tr>
  </tbody>
</table>
