<div class="container">
    <h1 class="tiuloInicio">Cargar Experiencia</h1>
  </div>
  <form>
    <div class="me-3">
      <label for="exampleInputEmail1" class="form-label">Empresa</label>
      <input type="text" class="form-control" id="exampleInputEmail1" name="empresa" [(ngModel)]="experiencia.empresa">
    </div>
    <div class="me-3">
      <label for="exampleInputEmail1" class="form-label">Inicio</label>
      <input type="text" class="form-control" id="exampleInputFecha" name="fecha" [(ngModel)]="experiencia.fecha">
    </div>
    <div class="me-3">
      <label for="exampleInputPassword1" class="form-label">Fin</label>
      <input type="text" class="form-control" id="exampleInputFin" name="fin" [(ngModel)]="experiencia.fin">
    </div>
    <div class="me-3">
        <label for="exampleInputPassword1" class="form-label">Descripcion</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="descripcion" [(ngModel)]="experiencia.descripcion">
      </div>
      <button type="submit" class="btn-alert" (click)="onEnviar()" *ngIf="!experiencia.id">Guardar</button>
      <button type="submit" class="btn-alert" (click)="onActualizar()" *ngIf="experiencia.id">Actualizar</button>
      <a class="nav-link" href="/edit">Volver</a>
  </form>
