<h3>Listado Testimonios</h3>
<a class="nav-link btn" href="/crud/testimonios">Cargar Nuevo Testimonio</a>
<table class="table ma-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Cargo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let testi of cv.testimonio">
      <td>{{testi.nombre}}</td>
      <td>{{testi.cargo}}</td>      
      <td>{{testi.descripcion}}</td>
      <td><button type="button" class="btn-warning bi bi-pencil btn-circle" [routerLink]="['/crud/testimonios',testi.id]" ></button>
      <td><button (click)="testimoniosBorrar(testi.id)" type="button" class="btn-danger bi bi-trash btn-circle"></button>
    </tr>
  </tbody>
</table>
