<h3>Listado Servicios</h3>
<a class="nav-link btn" href="/crud/servicios">Cargar Nuevo Servicio</a>
<table class="table ma-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Icono</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let servi of cv.servicio">
      <td>{{servi.icono}}</td>
      <td>{{servi.nombre}}</td>      
      <td>{{servi.descripcion}}</td>
      <td><button type="button" class="btn-warning bi bi-pencil btn-circle" [routerLink]="['/crud/servicios',servi.id]" ></button>
      <td><button (click)="serviciosBorrar(servi.id)" type="button" class="btn-danger bi bi-trash btn-circle"></button>
    </tr>
  </tbody>
</table>

